<h2>My Profile</h2>

<h4>My Backed Projects</h4>
<ul>
  <% @backed_projects.each do |project| %>
    <li>
      <%= link_to "#{project.title}", project_path(project) %>
    </li>
  <% end %>
</ul>

<h4>Total Amount Pledged</h4>
 <p>Amount: <%= @total_amount %> </p>

<h4>Projects I Own</h4>
  <ul>
    <% @owned_projects.each do |project| %>
      <li>
        <%= link_to "#{project.title}", project_path(project) %>
      </li>
      <% end %>
  </ul>

<h4>My Rewards</h4>
    <% @reward_id.each do |reward| %>
    <p><%= reward.description %></p>
    <% end %>
